.forecast-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.forecast-day{
    margin-right:30px;
}
.weather-icon{
    /* visibility:hidden; */
    display: none;
}
.city-search > input{
    outline: none;
    border:1px solid #e3e3e3;
    border-radius:5px;
    width: 150px;
    height: 38px;
    font-size: 18px;
    margin-right:2px;
}
.city-search > button{
    background-color: steelblue;
}